.nav-container{
    width: 100%;
    background: #2d2d2d;
    height: 50px;
    position: fixed;
    z-index: 1;
}
.nav-cont{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.name-logo{
    display: flex;
    gap: 10px;
}
.ham{
    display: none;
  }
.name-logo h3{
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
.name-logo span{
    color: rgba(52,152,219,1);
}
.name-logo img{
    width: 40px;
    height: 40px;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center; 
}
.navbar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 30px;
}
.navbar li:hover{
    color: rgba(52,152,219,1);
}
@media screen and (max-width:850px){
    .navbar{
        display: none;
    }
    .ham{
        display: flex;
        justify-content: center;
        align-items: center;
      }
}
@media screen and (max-width:350px){
    .name-logo h3{
        font-size: 15px;
    }
}
@media screen and (max-width:280px){
    .name-logo h3{
        font-size: 12px;
    }
}